.slick-dots li button:before{
    font-size: 15px;
}

.header_img{
    /* height: 600px; */
    width: 100%;
}

.slider{
    width: 60%;
    margin-bottom: 40px;
}

.header_rasm2{
    width: 40%;
}
.header_rasm2 img{
    width: 70%;
}
.header_rasm2 img:hover{
  transform: scale(1.1000);
  
  transition: 1s;
}

.img_overflow{
    overflow: hidden;
    width: 500px;
    margin-left: 50px;
}


/* .slick-next:before, [dir=rtl] .slick-prev:before {
    content: '';
} */

@media only screen and (max-width: 800px) {
    .slider{
        width: 100%;
    }

    .header_rasm2{
display: none;
width: 80%;
width: auto;
justify-content: space-between;
    }

    
  }